header {
  display: flex;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

header form input {
  width: 7rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

header form input::placeholder {
  font-size: 0.7rem;
}

.header__logo {
  font-size: 1.5rem;
}

.header__logo span,
.header__signin {
  color: rgb(205, 220, 57);
}

.header__search {
  margin-left: auto;
  display: flex;
}

.header__hamburger {
  margin-top: 5px;
}

.header__right {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 1rem;
}

.hide {
  visibility: hidden;
  position: absolute;
}

.show {
  visibility: visible;
  position: static;
}
