*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom-color: #f9f9f9;
}

html,
body {
  margin: 0;
}

body {
  font-family: 'Mulish', 'Helvetica', sans-serif;
  display: flex;
  justify-content: center;
}

.content {
  width: 367px;
  background-color: #27292d;
  min-height: 100vh;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
}

.btn--white--pointer {
  color: var(--custom-color);
  cursor: pointer;
}
